@{
	ViewBag.Title = "Employee Arrival Reporting";
}

<div class="container page-wrapper">
	<div class="row mt-30">
		<div class="col-md-12">
			<div class="employee-detail-page">
				<p>Viewing details for Employee with id: @ViewBag.EmployeeId</p>
				<h3>This page is not implemented</h3>
			</div>
		</div>
	</div>
</div>