<?xml version="1.0" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="adminEmail" value="admin@gmail.com" />
  <add key="adminFirstName" value="Dobromir" />
  <add key="adminLastname" value="Ivanov" />
  <add key="adminPassword" value="1234567" />
	<add key="adminPhone" value="+359887772550" />
	<add key="reportServiceRootEndpoint" value="http://localhost:51396" />
</appSettings>