@{
	ViewBag.Title = "Employee Arrival Reporting";
}

<section class="page-section pb-0">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-right">
				<h4>Filter by:</h4>
				<div class="filter-type">
					<input type="radio" id="firstname-radio" name="filter-type" value="firstname">
					<label for="firstname-radio">First name</label>

					<input type="radio" id="surname-radio" name="filter-type" value="surname">
					<label for="surname-radio">Surname</label>

					<input type="radio" id="email-radio" name="filter-type" value="email">
					<label for="email-radio">Email</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="#" class="cws-button alt">Subscribe</a>
				@Ajax.ActionLink(
									"Subscribe",
									"Subscribe",
									null,
									new AjaxOptions
									{
										HttpMethod = "Get",
										OnBegin = "subscribeBegin",
										OnFailure = "subscribeFail",
										OnSuccess = "subscribeSuccess"
									},
									new { @class = "cws-button alt" })
				<p>This button should be disabled by default if the application is subscribed on app start. (Token exists in the database). If token do not exists. Subscribe button is enabled and will send subscribe request</p>
			</div>
			<div class="col-md-6 text-right">
				<input type="text" name="filterValue" value="" />
				<a class="cws-button alt">Filter</a>
			</div>
		</div>
		<div class="row mt-30">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th><i class="fa fa-arrow-up"></i><a href="#">First name</a></th>
							<th>Surname</th>
							<th>Age</th>
							<th>Email</th>
							<th>Teams</th>
							<th>Manager</th>
							<th>Role</th>
							<th>Arrivals</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Dobromir</td>
							<td>Ivanov</td>
							<td>29</td>
							<td>dobromirivanov1@gmail.com</td>
							<td>Sales, Platform, Billing</td>
							<td>Ivan Ivanov</td>
							<td>Software Developer</td>
							<td>154</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Dobromir</td>
							<td>Ivanov</td>
							<td>29</td>
							<td>dobromirivanov1@gmail.com</td>
							<td>Sales, Platform, Billing</td>
							<td>Ivan Ivanov</td>
							<td>Software Developer</td>
							<td>154</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Dobromir</td>
							<td>Ivanov</td>
							<td>29</td>
							<td>dobromirivanov1@gmail.com</td>
							<td>Sales, Platform, Billing</td>
							<td>Ivan Ivanov</td>
							<td>Software Developer</td>
							<td>154</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Dobromir</td>
							<td>Ivanov</td>
							<td>29</td>
							<td>dobromirivanov1@gmail.com</td>
							<td>Sales, Platform, Billing</td>
							<td>Ivan Ivanov</td>
							<td>Software Developer</td>
							<td>154</td>
						</tr>
					</tbody>
				</table>
				<nav class="text-right">
					<ul class="pagination">
						<li>
							<a class="pager-previous disabled"><span class="fa fa-angle-left"></span></a>
						</li>
						<li class="active">
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a class="pager-next disabled"><span class="fa fa-angle-right"></span></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>

@section scripts {

}