@{
	ViewBag.Title = "Employee Arrival Reporting";
}

<section class="page-section pb-0">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
					Content of the page (the grid) will be shown to the user only if he is logged.
			</div>
		</div>
	</div>
</section>

@section scripts {

}