@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900&subset=cyrillic-ext');

@import url(https://fonts.googleapis.com/css?family=Lato);

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

html, body {
	padding: 0 !important;
}

html, body {
	font-family: Roboto, sans-serif;
}

h3 {
	text-transform: uppercase;
	color: #237dc8;
}

label {
	font-weight: normal;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #a9a9a9;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #a9a9a9;
}

:-ms-input-placeholder { /* IE 10+ */
	color: #a9a9a9;
}

:-moz-placeholder { /* Firefox 18- */
	color: #a9a9a9;
}

/*Bootstrap modifications*/
.panel {
	border-radius: 0px;
}

.panel-heading {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
/*Bootstrap modifications end*/
/*Navigation*/
.inner-nav.desktop-nav ul li .mn-sub li > a {
	font-size: 13px;
}

.login-content span#login-status {
	margin: 0 auto;
	display: none;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: normal;
	border-radius: 0;
	margin-top: 20px;
	margin-bottom: -20px;
}

.login-content a#login-button {
	cursor: pointer;
}

#profile-links-dropdown button.btn.btn-primary.dropdown-toggle {
	background-color: transparent;
	color: #237dc8;
	border: none;
	text-align: right;
	margin-right: 0px;
	padding-right: 0px;
}

	#profile-links-dropdown button.btn.btn-primary.dropdown-toggle:hover {
		color: #4b9fe5;
	}

	#profile-links-dropdown button.btn.btn-primary.dropdown-toggle:active {
		outline: none;
		box-shadow: none;
	}

#profile-links-dropdown ul.dropdown-menu {
	/*width: 100%;*/
	border-radius: 0px;
	padding: 0 0 0 0px;
}

	#profile-links-dropdown ul.dropdown-menu li:before {
		display: none;
	}

	#profile-links-dropdown ul.dropdown-menu li {
		padding-left: 0px;
	}
/*Navigation end*/

/**/
/* Common Style */
/**/

.stick-fixed {
	position: fixed !important;
	top: 0;
	left: 0;
}

.clearlist, .clearlist li {
	list-style: none;
	padding: 0;
	margin: 0;
	background: none;
}

html, body {
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.3px;
}

	html.fancybox-lock {
		overflow: hidden;
	}

body {
	overflow-x: hidden;
}

html, body {
	font-family: 'Droid sans', sans-serif;
	color: #666666;
	line-height: 1.75;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}

iframe {
	border: none;
}

a,
a:hover, a:focus {
	text-decoration: none;
	color: inherit;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

a, b, div, ul, li {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-moz-outline-: none;
}

form {
	margin: 0;
}

a:focus,
a:active {
	-moz-outline: none;
	outline: none;
}

img, embed, object, video {
	max-width: 100%;
	height: auto;
}

/*.row + .row {
    margin-top: 20px;
}*/

hr {
	border-style: dotted;
	border-color: #999999;
	border-top: 0;
}

	hr.style-2 {
		border-style: solid;
		border-width: 2px 0 0 0;
		margin: 0;
	}

input:focus,
button:focus,
textarea:focus {
	outline: 0;
}

/*input {
	-webkit-appearance: none;
}*/

textarea {
	-webkit-appearance: none;
}

input[type="number"] {
	text-align: center;
	border: 1px solid #e6e6e6;
	width: 40px;
	line-height: 38px;
	height: 40px;
	color: #666666;
	background: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

	input[type="number"]:focus {
		border-color: #237dc8;
	}

input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	-ms-appearance: textfield;
	appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	margin: 0;
}

p a {
	white-space: nowrap;
	color: #237dc8;
}

	p a:hover {
		color: #404040;
	}

ins {
	color: #237dc8;
	text-decoration: none;
	font-style: normal;
}

	ins.alt-1 {
		color: #999999;
		font-style: italic;
	}

	ins.alt-2 {
		color: #ffffff;
		font-style: normal;
		background: #237dc8;
	}

	ins.alt-3 {
		color: #237dc8;
		font-style: normal;
		border-bottom: 1px solid #237dc8;
	}

p a.color-1 {
	color: #404040;
}

p a.color-2 {
	color: #f9b91e;
}

p a.color-3 {
	color: #F56363;
}

p a.color-4 {
	color: #43C5B8;
}

p a.color-5 {
	color: #2EB851;
}

p a.color-6 {
	color: #C744FD;
}

.fs-14,
.fs-14 p {
	font-size: 14px;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.line-h-2 {
	line-height: 2;
}

.ml-20 {
	margin-left: 20px;
}

.mr-10 {
	margin-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	color: #404040;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 13px;
}

.pagination li {
	padding-left: 0;
	margin-left: 0;
}

	.pagination li:before {
		display: none;
	}

.page {
	padding-top: 40px;
	padding-bottom: 60px;
}

h2 span,
h3 span {
	font-weight: 400;
	color: #237dc8;
}

.text-w-light {
	font-weight: 300 !important;
}

.page-section {
	padding: 50px 0 140px 0;
}

.content-body {
	background: #ffffff;
}

.p-relative {
	position: relative;
	z-index: 101;
}

.relative {
	position: relative;
}

.img-float-left {
	float: left;
	margin-right: 40px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 350px;
	border: 1px solid #e6e6e6;
}

	.img-float-left.alt-2 {
		float: left;
		margin-right: 30px;
	}

.overflow-h > .divider,
.overflow-h > ul {
	overflow: hidden;
}

.tx-small {
	font-size: 14px;
}

.font-s-0 {
	font-size: 0;
}

.no-hover {
	pointer-events: none;
}

footer a img {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

	footer a img:hover {
		opacity: 0.7;
	}


/*  */
/* Divider */
/*  */
.cws_divider_wrapper {
	margin: 0;
	line-height: 0;
}

	.cws_divider_wrapper.align-center {
		text-align: center;
	}

	.cws_divider_wrapper.align-left {
		text-align: left;
	}

	.cws_divider_wrapper.align-right {
		text-align: right;
	}

.cws_divider.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.cws_divider,
hr {
	position: relative;
	z-index: 1;
	font-size: 1px;
	display: inline-block;
	width: 100%;
	border-bottom-width: 1px;
	height: 0;
	border-bottom-style: dashed;
	border-color: #d9d9d9;
	background: transparent;
	vertical-align: middle;
}

	.cws_divider.with-plus:before,
	.cws_divider.with-plus:after,
	hr:before,
	hr:after {
		content: "";
		display: block;
		position: absolute;
		z-index: 1;
		top: -4px;
		left: 50%;
		height: 9px;
		width: 1px;
		-webkit-box-shadow: 200px 0 0 #237dc8, -200px 0 0 #237dc8;
		-moz-box-shadow: 200px 0 0 #237dc8, -200px 0 0 #237dc8;
		box-shadow: 200px 0 0 #237dc8, -200px 0 0 #237dc8;
		background: #237dc8;
	}

	.cws_divider.with-plus.color-line-1:before,
	.cws_divider.with-plus.color-line-1:after,
	hr.color-line-1:before,
	hr.color-line-1:after {
		-webkit-box-shadow: 200px 0 0 #404040, -200px 0 0 #404040;
		-moz-box-shadow: 200px 0 0 #404040, -200px 0 0 #404040;
		box-shadow: 200px 0 0 #404040, -200px 0 0 #404040;
		background: #404040;
	}

	.cws_divider.with-plus:after,
	hr:after {
		height: 1px;
		width: 9px;
		top: 0;
		left: -webkit-calc(50% - 4px);
		left: -moz-calc(50% - 4px);
		left: calc(50% - 4px);
	}

	.cws_divider:not(.long).with-plus:before,
	.cws_divider:not(.long).with-plus:after {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.cws_divider.dashed {
		border-bottom-style: dashed;
	}

	.cws_divider.dotted {
		border-style: dotted;
	}

	.cws_divider.short {
		width: 50px;
	}

	.cws_divider.short-2 {
		width: 90px;
	}

	.cws_divider.short-3 {
		width: 120px;
	}

	.cws_divider.color-1 {
		border-color: #404040;
	}

/* ==============================
   HEADER
   ============================== */
/*  */
/* Site top panel */
/*  */
.site-top-panel {
	background: #f5f5f5;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e6e6e6;
}

	.site-top-panel .top-left-wrap {
		font-size: 14px;
		line-height: 40px;
	}

		.site-top-panel .top-left-wrap > * {
			display: inline-block;
		}

		.site-top-panel .top-left-wrap .lang-wrap {
			position: relative;
		}

			.site-top-panel .top-left-wrap .lang-wrap ul {
				margin: 0;
			}

				.site-top-panel .top-left-wrap .lang-wrap ul ul {
					position: absolute;
					z-index: 101;
					bottom: -webkit-calc(100% - 1px);
					bottom: -moz-calc(100% - 1px);
					bottom: calc(100% - 1px);
					left: -999999px;
					opacity: 0;
					display: table;
					padding: 10px;
					-webkit-transition: opacity 0.3s ease;
					-moz-transition: opacity 0.3s ease;
					-o-transition: opacity 0.3s ease;
					transition: opacity 0.3s ease;
					top: 100%;
					bottom: auto;
				}

					.site-top-panel .top-left-wrap .lang-wrap ul ul:before {
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						z-index: -1;
						background-color: #f5f5f5;
					}

				.site-top-panel .top-left-wrap .lang-wrap ul:hover ul {
					left: -20px;
					opacity: 1;
					-webkit-transition: opacity 0.3s ease;
					-moz-transition: opacity 0.3s ease;
					-o-transition: opacity 0.3s ease;
					transition: opacity 0.3s ease;
				}

				.site-top-panel .top-left-wrap .lang-wrap ul li:before {
					border: 0;
				}

				.site-top-panel .top-left-wrap .lang-wrap ul li a {
					position: relative;
					white-space: nowrap;
					color: #404040;
					padding-right: 15px;
				}

					.site-top-panel .top-left-wrap .lang-wrap ul li a i {
						font-size: 14px;
						position: absolute;
						z-index: 1;
						left: -20px;
						color: #237dc8;
					}

				.site-top-panel .top-left-wrap .lang-wrap ul li li {
					padding-left: 15px;
				}

		.site-top-panel .top-left-wrap .social-wrap a.cws_social_link {
			font-size: 14px;
			padding-left: 10px;
			color: #237dc8;
		}

			.site-top-panel .top-left-wrap .social-wrap a.cws_social_link:first-child {
				padding-left: 15px;
			}

		.site-top-panel .top-left-wrap .social-wrap #top_social_links_wrapper {
			display: inline-block;
			width: 40px;
			position: relative;
			z-index: 25;
			margin-left: 40px;
		}

		.site-top-panel .top-left-wrap .social-wrap .cws_social_links {
			z-index: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
		}

		.site-top-panel .top-left-wrap .social-wrap .share-toggle-button {
			position: absolute;
			top: 50%;
			margin-top: -20px;
			margin-left: -40px;
			z-index: 1;
			cursor: pointer;
		}

		.site-top-panel .top-left-wrap .social-wrap .cws_social_links > *,
		.site-top-panel .top-left-wrap .social-wrap .share-toggle-button {
			display: inline-block;
			font-size: 16px;
			line-height: 19px;
			width: 19px;
			height: 19px;
			text-align: center;
			position: absolute;
			left: 50%;
			top: 50%;
			color: #237dc8;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			padding: 7px;
			margin-top: -16px !important;
			margin-left: -46px !important;
			-webkit-transition: all 0s;
			-moz-transition: all 0s;
			-o-transition: all 0s;
			transition: all 0s;
		}

		.site-top-panel .top-left-wrap .social-wrap #top_social_links_wrapper > span {
			-webkit-transition: 0.3s ease-out;
			-moz-transition: 0.3s ease-out;
			-o-transition: 0.3s ease-out;
			transition: 0.3s ease-out;
			color: #404040;
		}

	.site-top-panel .cws_social_links > * {
		opacity: 1;
	}

	.site-top-panel.active_social .cws_social_links > * {
		opacity: 1;
	}

	.site-top-panel.active_social #top_social_links_wrapper > span {
		opacity: 0;
	}

	.site-top-panel .top-right-wrap {
		text-align: right;
		font-size: 14px;
		color: #404040;
	}

		.site-top-panel .top-right-wrap > *:not(span) {
			display: inline-block;
			cursor: pointer;
		}

		.site-top-panel .top-right-wrap span {
			margin: 0 15px;
			color: #999999;
		}

		.site-top-panel .top-right-wrap i {
			color: #237dc8;
			padding-right: 10px;
		}

	.site-top-panel .search_menu_cont {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index: 30;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		-webkit-transform: translateX(100px);
		-moz-transform: translateX(100px);
		-ms-transform: translateX(100px);
		-o-transform: translateX(100px);
		transform: translateX(100px);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

		.site-top-panel .search_menu_cont .form {
			height: 100%;
		}

			.site-top-panel .search_menu_cont .form .search-field {
				border: 0;
				outline: 0;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				background: #f5f5f5;
				height: 39px;
			}

		.site-top-panel .search_menu_cont .search_back_button {
			vertical-align: middle;
			width: 30px;
			display: inline-block;
			cursor: pointer;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
			position: absolute;
			z-index: 1;
			top: 50%;
			right: 0;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}

	.site-top-panel.open-search .search_menu_cont {
		opacity: 1;
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-o-transform: translateX(0px);
		transform: translateX(0px);
		visibility: visible;
	}

@media (max-width: 767px) {
	.site-top-panel {
		height: 80px;
	}

	.top-left-wrap,
	.top-right-wrap {
		text-align: center !important;
	}
}

/*  */
/* button style */
/*  */
.cws-button {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	min-width: 160px;
	padding: 8px 20px;
	color: #237dc8;
	background: transparent;
	border: 1px solid #237dc8;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

	.cws-button:hover {
		background: #237dc8;
		color: #fff;
	}

	.cws-button.small {
		line-height: 19px;
		min-width: 120px;
		padding: 6px 20px;
		font-size: 13px;
	}

	.cws-button.mini {
		font-size: 13px;
		line-height: 16px;
		min-width: 100px;
		padding: 5px 15px;
	}

	.cws-button.large {
		line-height: 23px;
		min-width: 180px;
		padding: 8px 15px;
	}

	.cws-button.gray {
		border-color: #666666;
		color: #666666;
	}

		.cws-button.gray.alt {
			background: #666666;
		}

		.cws-button.gray:hover {
			color: #ffffff;
			background: #666666;
		}

		.cws-button.gray.alt:hover {
			background: transparent;
			color: #666666;
		}

	.cws-button.color-2 {
		border-color: #f9b91e;
		color: #f9b91e;
	}

		.cws-button.color-2:hover {
			background: #f9b91e;
			color: #ffffff;
		}

	.cws-button.color-3 {
		border-color: #F56363;
		color: #F56363;
	}

		.cws-button.color-3:hover {
			background: #F56363;
			color: #ffffff;
		}

	.cws-button.color-4 {
		border-color: #43C5B8;
		color: #43C5B8;
	}

		.cws-button.color-4:hover {
			background: #43C5B8;
			color: #ffffff;
		}

	.cws-button.alt {
		background: #237dc8;
		color: #ffffff;
	}

		.cws-button.alt:hover {
			color: #237dc8;
			background: transparent;
		}

	.cws-button.color-2.alt {
		background: transparent;
		color: #e6e6e6;
	}

		.cws-button.color-2.alt:hover {
			color: #666666;
			background: #f2f2f2;
		}

	.cws-button.color-3.alt {
		background: #F56363;
		color: #ffffff;
	}

		.cws-button.color-3.alt:hover {
			color: #F56363;
			background: transparent;
		}

	.cws-button.color-4.alt {
		background: #43C5B8;
		color: #ffffff;
	}

		.cws-button.color-4.alt:hover {
			color: #43C5B8;
			background: transparent;
		}

	.cws-button.white {
		border-color: #ffffff;
		color: #ffffff;
	}

		.cws-button.white.color-4:hover {
			color: #43C5B8;
		}

		.cws-button.white:hover {
			color: #237dc8;
			background: #ffffff;
		}

	.cws-button.full-width {
		min-width: 100%;
	}

	.cws-button.with-icon {
		position: relative;
		z-index: 1;
		padding: 9px 40px 9px 70px;
		color: #237dc8;
		border-color: #237dc8;
		background: transparent;
	}

		.cws-button.with-icon i {
			position: absolute;
			z-index: 1;
			border: 1px solid;
			width: 40px;
			left: -1px;
			text-align: center;
			line-height: 40px;
			top: -1px;
			bottom: -1px;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
			border-color: #1b629d;
			color: #1b629d;
			background-color: transparent;
		}

			.cws-button.with-icon i:before {
				margin: 0 !important;
			}

		.cws-button.with-icon:hover {
			color: #ffffff;
			border-color: #237dc8;
			background: #237dc8;
		}

			.cws-button.with-icon:hover i {
				color: #ffffff;
				border-color: #1b629d;
				background: #1b629d;
			}

		.cws-button.with-icon.alt {
			color: #ffffff;
			border-color: #237dc8;
			background: #237dc8;
		}

			.cws-button.with-icon.alt i {
				border-color: #1b629d;
				color: #ffffff;
				background-color: #1b629d;
			}

			.cws-button.with-icon.alt:hover {
				color: #237dc8;
				border-color: #237dc8;
				background: transparent;
			}

				.cws-button.with-icon.alt:hover i {
					color: #1b629d;
					border-color: #1b629d;
					background: transparent;
				}

		.cws-button.with-icon.color-2 {
			color: #666666;
			border-color: #f2f2f2;
			background: transparent;
		}

			.cws-button.with-icon.color-2 i {
				color: #666666;
				border-color: #e6e6e6;
				background: transparent;
			}

			.cws-button.with-icon.color-2:hover {
				color: #666666;
				border-color: #f2f2f2;
				background: #f2f2f2;
			}

				.cws-button.with-icon.color-2:hover i {
					color: #666666;
					border-color: #e6e6e6;
					background: #e6e6e6;
				}

		.cws-button.with-icon.alt.color-2 {
			color: #666666;
			border-color: #f2f2f2;
			background: #f2f2f2;
		}

			.cws-button.with-icon.alt.color-2 i {
				color: #666666;
				border-color: #e6e6e6;
				background: #e6e6e6;
			}

			.cws-button.with-icon.alt.color-2:hover {
				color: #666666;
				border-color: #f2f2f2;
				background: transparent;
			}

				.cws-button.with-icon.alt.color-2:hover i {
					color: #666666;
					border-color: #e6e6e6;
					background: transparent;
				}

		.cws-button.with-icon.color-3 {
			color: #666666;
			border-color: #8c8c8c;
			background: transparent;
		}

			.cws-button.with-icon.color-3 i {
				color: #666666;
				border-color: #666666;
				background: transparent;
			}

			.cws-button.with-icon.color-3:hover {
				color: #ffffff;
				border-color: #8c8c8c;
				background: #8c8c8c;
			}

				.cws-button.with-icon.color-3:hover i {
					color: #ffffff;
					border-color: #666666;
					background: #666666;
				}

		.cws-button.with-icon.alt.color-3 {
			color: #ffffff;
			border-color: #8c8c8c;
			background: #8c8c8c;
		}

			.cws-button.with-icon.alt.color-3 i {
				color: #ffffff;
				border-color: #666666;
				background: #666666;
			}

			.cws-button.with-icon.alt.color-3:hover {
				color: #666666;
				border-color: #8c8c8c;
				background: transparent;
			}

				.cws-button.with-icon.alt.color-3:hover i {
					color: #666666;
					border-color: #666666;
					background: transparent;
				}

.button-center {
	margin-left: auto;
	margin-right: auto;
	max-width: 160px;
}

.cws-button + .cws-button {
	margin-left: 10px;
}

.tx-color-2 {
	color: #f9b91e !important;
}

.tx-color-3 {
	color: #F56363 !important;
}

.tx-color-4 {
	color: #43C5B8 !important;
}

@media (max-width: 768px) {
	.button-grid .text-right,
	.button-grid .text-center {
		text-align: left;
	}
}



/*  */
/* login popup */
/*  */
.login-popup {
	position: fixed;
	z-index: -1000;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

	.login-popup.open {
		z-index: 1000;
		opacity: 1;
	}

	.login-popup .login-popup-wrap {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
		transform: translate3d(-50%, -50%, 0);
		width: 370px;
		height: 400px;
		background: #ffffff;
	}

		.login-popup .login-popup-wrap .title-wrap {
			height: 60px;
			line-height: 60px;
			background: #237dc8;
			text-align: center;
		}

			.login-popup .login-popup-wrap .title-wrap h2 {
				text-transform: uppercase;
				color: #ffffff;
				text-align: center;
				margin: 0;
				display: inline-block;
				margin-left: 34px;
				vertical-align: middle;
			}

			.login-popup .login-popup-wrap .title-wrap .close-button {
				float: right;
				color: #ffffff;
				margin-right: 20px;
				cursor: pointer;
			}

				.login-popup .login-popup-wrap .title-wrap .close-button:hover {
					color: #e6e6e6;
				}

		.login-popup .login-popup-wrap .login-content {
			padding: 40px 25px;
		}

			.login-popup .login-popup-wrap .login-content input.form-row {
				height: 40px;
				border: 1px solid #e6e6e6;
				max-width: 100%;
				width: 100%;
				font-size: 14px;
				margin-bottom: 20px;
				padding: 0 15px;
				font-style: italic;
				background: transparent;
			}

				.login-popup .login-popup-wrap .login-content input.form-row:focus {
					border-color: #237dc8;
				}

			.login-popup .login-popup-wrap .login-content .remember {
				color: #b2b2b2;
			}

				.login-popup .login-popup-wrap .login-content .remember .checkbox {
					margin-top: 0;
				}

				.login-popup .login-popup-wrap .login-content .remember a {
					float: right;
					color: #237dc8;
				}

					.login-popup .login-popup-wrap .login-content .remember a:hover {
						color: #999999;
					}

		.login-popup .login-popup-wrap .login-bot {
			background: #237dc8;
			line-height: 60px;
			text-align: center;
		}

			.login-popup .login-popup-wrap .login-bot p {
				color: #ffffff;
			}

				.login-popup .login-popup-wrap .login-bot p a {
					color: #ffffff;
					text-decoration: underline;
				}

/*  */
/* table */
/*  */
table.table {
	max-width: 100%;
	width: 100%;
	border: 1px solid #237dc8;
	overflow: hidden;
	background-color: white;
	border-collapse: inherit;
	border-spacing: 0;
	font-size: 14px;
	margin: 0;
	box-shadow: 2px 2px 0px #237dc8;
}

	table.table thead tr {
		background: #237dc8;
	}

		table.table thead tr th {
			/*text-align: center;*/
			border-bottom: 0;
			color: #ffffff;
			text-transform: uppercase;
			padding: 10px;
		}

	table.table tbody tr td {
		/*text-align: center;*/
		padding: 10px;
	}

	table.table tbody tr:nth-child(2n + 2) {
		background: #f5f5f5;
	}

/*  */
/* Widget contact form */
/*  */
.widget-contact-form {
	padding-bottom: 25px;
}

.contact-form input:not(.cws-button),
.contact-form textarea {
	height: 40px;
	border: 1px solid #e6e6e6;
	max-width: 100%;
	width: 100%;
	font-size: 14px;
	/*margin-bottom: 30px;*/
	padding: 0 15px;
	font-style: italic;
	background: transparent;
}

.contact-form label {
	margin-top: 20px;
}

.contact-form input:not(.cws-button):focus,
.contact-form textarea:focus {
	border-color: #237dc8;
}

.contact-form input:not(.cws-button).error,
.contact-form textarea.error {
	border-color: #F56363;
}

.contact-form textarea {
	margin-bottom: 30px;
	outline: 0;
	height: auto;
}

.contact-form .cws-button {
	font-style: normal;
	border: 1px solid #237dc8;
}

	.contact-form .cws-button:not(.alt):hover {
		background: #237dc8;
		border-color: #237dc8;
		color: #ffffff;
	}

.contact-form + .alert-danger {
	display: none;
}


/*Profile*/
.profile-container input {
	width: 100%;
}

.profile-container .profile-picture {
	width: 150px;
	height: 150px;
	border: 1px solid #237dc8;
}

.profile-container .change-password-link {
	font-size: 14px;
	color: #666666;
	float: right;
}

	.profile-container .change-password-link:hover {
		color: #237dc8;
		text-decoration: underline;
	}


.profile-container input#profile-image-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.profile-container label#profile-image-input-label {
	font-size: 14px;
	color: white;
	background-color: #237dc8;
	display: inline-block;
	text-transform: uppercase;
	cursor: pointer;
	padding: 5px;
	width: 150px;
	border: 1px solid #237dc8;
	text-align: center;
	line-height: 25px;
	margin-top: 0px;
	border-top: 0px;
	position: relative;
	z-index: 2;
}

	.profile-container label#profile-image-input-label:hover, .profile-container label#profile-image-input-label:focus {
		background-color: white;
		color: #237dc8;
	}

.profile-container .profile-image-loading,
.profile-container .profile-image-success,
.profile-container .profile-image-fail {
	display: none;
	position: absolute;
	top: 1px;
	right: 16px;
	width: 148px;
	height: 148px;
	line-height: 148px;
	text-align: center;
	background-color: white;
}

.profile-container .profile-image-loading {
	color: #237dc8;
}

.profile-container .profile-image-success {
	color: #3c763d;
	background-color: #dff0d8;
}

.profile-container .profile-image-fail {
	color: red;
	background-color: #ffa9a9;
}

	.profile-container .profile-image-fail p, .profile-container .profile-image-success p, .profile-container .profile-image-loading p {
		position: absolute;
		top: 25px;
		margin: 0 auto;
		width: 100%;
	}

/*Profile end*/

.filter-type {
	display: inline-block;
	margin: 0 auto;
}


.page-wrapper {
	border: 1px solid #b6deff;
	background-color: #b6deff;
}

.navigation-btn {
	border-bottom: none;
	position:relative;
	top: 0px;
}

.selected-btn {
	background-color: #b6deff !important;
	border-color: #b6deff !important;
	color: #237dc8!important;
}

.no-data-message {
	background-color: white;
	width: 50%;
	margin: 20px auto 50px auto;
	padding: 50px;
}

.registration-form {
	max-width: 420px;
	padding: 30px 38px 66px;
	margin: 40px auto;
	background-color: #eee;
	border: 3px dotted rgba(0,0,0,0.1);
}

.registration-form input {
	background-color: white!important;
}

.success-subscribe-label {
	width: 224px;
	margin: 0 auto;
	background-color:lightgreen;
	padding:10px;
	display: none;
}

.wait-subscribe-label {
	width: 224px;
	margin: 0 auto;
	background-color: lightskyblue;
	padding: 10px;
	display: none;
}